/* maggi.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url('background\ image\ main\ pg2.jpg'); /* Add your desired background image URL */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color:  #f5a623;
}

h1 {
    font-size: 48px;
    color: #f5a623;
    margin-top: 20px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #f5a623;
    margin-left: 20px;
    text-shadow: 2px 2px 5px #000;
}

p {
    font-size: 1.2em;
    margin: 20px;
    color: white;
    line-height: 1.5em;
}

ul, ol {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

ul li, ol li {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #444;
}

h3 {
    text-align: center;
    font-size: 2em;
    color:  #f5a623;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #000;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay for better contrast */
    z-index: -1;
}
